<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:include="/layout/header.html"></head>-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exercise</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/pig/list" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a th:href="@{/pig/add}" class="nav-link px-2 link-body-emphasis">Add Pig</a></li>
        <li><a th:href="@{/pig/list}" class="nav-link px-2 link-body-emphasis">Manage Pig</a></li>
        <li><a th:href="@{/cage/list}" class="nav-link px-2 link-body-emphasis">Manage Cage</a></li>
      </ul>

      <form action="/pig/list" method="get" class="row g-2">
        <div class="col-auto">
          <label for="inputSearch" class="visually-hidden">Password</label>
          <input type="text" class="form-control" id="inputSearch" name="tenLonSearch"
                 placeholder="Input Pig ">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Soi Lợn</button>
        </div>
      </form>
    </div>
  </div>
</header>
<body>
<div class="container">
  <form method="post" th:object="${cage}">
    <h2 class="my-5" th:text="${'Edit Cage ' + cage.id}"></h2>
    <div class="row">
      <div class="mb-3">
        <label for="nameBlog" class="form-label">Chuồng</label>
        <input type="text" th:field="*{loaiCuong}" class="form-control" id="nameBlog">
      </div>
      <div class="mb-3">
        <label for="nameBlog1" class="form-label">Sức Chứa</label>
        <input type="text" th:field="*{sucChua}" class="form-control" id="nameBlog1">
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<!--<footer th:include="/layout/footer.html"></footer>-->
</body>
</html>