<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:include="/layout/header.html"></head>-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exercise</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a th:href="@{/blog/add}" class="nav-link px-2 link-body-emphasis">Add Blog</a></li>
        <li><a th:href="@{/blog/list}" class="nav-link px-2 link-body-emphasis">Manage Blog</a></li>
        <li><a th:href="@{/category/list}" class="nav-link px-2 link-body-emphasis">Manage Category</a></li>
      </ul>

      <form action="/blog/search" method="post" class="row g-2">
        <div class="col-auto">
          <label for="inputSearch" class="visually-hidden">Password</label>
          <input type="text" class="form-control" id="inputSearch" name="title-search"
                 placeholder="Input Title Blog">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
      </form>
    </div>
  </div>
</header>
<div th:replace="/layout/header :: header"></div>

<body>
<div class="container">
  <form method="post" th:object="${blog}">
    <h2 class="my-5" th:text="${'Edit Blog ' + blog.title}"></h2>
    <div class="row">

      <div class="mb-3">
        <label for="titleBlog" class="form-label">Title Blog</label>
        <input type="text" th:field="*{title}" class="form-control" id="titleBlog">
      </div>
      <div class="mb-3">
        <label for="contentBlog" class="form-label">Content</label>
        <textarea th:field="*{content}" class="form-control" id="contentBlog"
                  rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="summaryBlog" class="form-label">Summary</label>
        <input type="text" th:field="*{summary}" class="form-control" id="summaryBlog">
      </div>
      <div class="mb-3">
        <label for="authorBlog" class="form-label">Author</label>
        <input type="text" th:field="*{author}" class="form-control" id="authorBlog">
      </div>
      <div class="mb-3">
        <label for="imgBlog" class="form-label">IMG</label>
        <input type="text" th:field="*{img}" class="form-control" id="imgBlog">
      </div>
      <div class="mb-3">
        <label for="time" class="form-label">Time Post</label>
        <input type="datetime-local" th:field="*{timePost}" class="form-control" id="time">
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-select" th:field="*{category}">
          <option th:each="value,loop:${category}" th:value="${value.id}" th:text="${value.name}"></option>
        </select>
      </div>

      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </div>
  </form>
</div>

<!--<footer th:include="/layout/footer.html"></footer>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<!--<div th:replace="/layout/footer :: footer"></div>-->

</body>
</html>