<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:include="/layout/header.html"></head>-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exercise</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a th:href="@{/student/add}" class="nav-link px-2 link-body-emphasis">Add Student</a></li>
<!--        <li><a th:href="@{/blog/list}" class="nav-link px-2 link-body-emphasis">Manage Blog</a></li>-->
<!--        <li><a th:href="@{/category/list}" class="nav-link px-2 link-body-emphasis">Manage Category</a></li>-->
      </ul>

      <form action="/student/search" method="post" class="row g-2">
        <div class="col-auto">
          <label for="inputSearch" class="visually-hidden">Password</label>
          <input type="text" class="form-control" id="inputSearch" name="name-search" placeholder="Input Name Student">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
      </form>
    </div>
  </div>
</header>
<!--<div th:replace="../layout/header :: header"></div>-->


<body>
<div class="container">
  <a class="btn btn-primary my-3" th:href="@{/student/add}" role="button">Add new Student</a>
  <table class="table mt-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">ClassRoom</th>
<!--      <th scope="col">Address</th>-->
      <th scope="col" colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="students,loop : ${student}">
      <th th:text="${loop.count}" scope="row">1</th>
      <td th:text="${students.name}">Mark</td>
      <td th:text="${students.age}">Otto</td>
      <td th:text="${students.classroom.name}">Otto</td>
<!--      <td th:text="${blog.author}">@mdo</td>-->
      <td><a role="button" class="btn btn-primary" th:href="@{/student/__${students.id}__/view}">View</a></td>
      <td><a role="button" class="btn btn-warning" th:href="@{/student/__${students.id}__/edit}">Edit</a></td>
      <td>
        <button th:attr="onclick=|sendData('${students.id}','${students.name}')|" type="button" class="btn btn-danger"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
          Detele
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li th:class="${student.hasPrevious() ? 'page-item' : 'page-item disabled'}">
        <a class="page-link" th:href="@{/(page=${student.number - 1})}">Last</a>
      </li>
      <li th:class="${student.hasNext() ? 'page-item' : 'page-item disabled'}">
        <a class="page-link" th:href="@{/(page=${student.number + 1})}">Next</a>
      </li>
    </ul>
  </nav>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Notification</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-delete">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a role="button" id="del-product" class="btn btn-danger">Corfirm</a>
      </div>
    </div>
  </div>
</div>
<script>
  function sendData(id, name) {
    console.log(id);
    console.log(name);
    document.getElementById("modal-body-delete").innerHTML = "You definitely want to delete the blog " + name;
    document.getElementById("del-product").href = "/blog/" + id + "/delete";
  }
</script>
<!--<footer th:include="/layout/footer.html"></footer>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<!--<div th:replace="/layout/footer :: footer"></div>-->

</body>
</html>